llama-index
faiss-cpu
openai
llama-index-vector-stores-faiss
streamlit
httpx==0.23.2
google-cloud-translate
httpcore
protobuf==3.20.3
sounddevice
pydub
google-cloud-texttospeech
langdetect
googletrans
openai==1.21.2
